* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #fff;
    color: #fff;
    padding: 15px;
    height: 88%;
}

body {
    background-image: url("./Assets/BG4.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1000vh; */
}

.logo {
    width: 25%;
    margin-top: -1%;
    margin-left: 2.5%;
}

.title {
    margin-right: 4%;
    color: #333;
    margin-top: -0.5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.nav-links {
    list-style: none;
    display: flex;
    margin-top: -0.5%;
    margin-right: 1%;

}

li {
    margin-left: 20px;
}

a.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;

}

a.nav-link:hover {
    color: #ccc;
}

u {
    text-decoration: none;
    border-bottom: 2px solid #333;
    padding-bottom: 2px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    /* Adjust the width as needed */
    height: 40px;
    /* Adjust the height as needed */
    margin-right: 10px;
    /* Adjust the spacing as needed */
}

.logo h1 {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #ccc;
}

u {
    text-decoration: none;
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
}

body {
    background-image: URL("Assets/BG4.png");
}


.container {
    height: auto;
    width: auto;
    max-height: 1000px;
    max-width: 1800px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    /* margin: 10%; */
}

.card1-border,
.border,
.card2-border,
.card3-border {
    height: 380px;
    width: 390px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
    margin: 10px;
}

.card1-border:hover,
.border:hover,
.card2-border:hover,
.card3-border:hover {
    border: 1px solid #fff;
}

.card1,
.card0,
.card2,
.card3,
.card4 {
    height: 400px;
    width: 400px;
    background: #333;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #333;
    box-shadow: 0 70px 63px -60px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card0 {
    background: URL("./Assets/ourTeam/Sara.jpg") center center no-repeat;
    background-size: 430px;
    margin-right: 3%;
    width: 50%;
}

.card0:hover {
    background: URL("./Assets/ourTeam/Sara.jpg") left center no-repeat;
    background-size: 440px;
}

.card0:hover h2 {
    opacity: 1;
}

.card0:hover .fa {
    opacity: 1;
}


.card1 {
    background: url("./Assets/ourTeam/Rakan.jpg") center center no-repeat;
    background-size: 380px;
    margin-right: 3%;
    width: 50%;
}

.card1:hover {
    background: url("./Assets/ourTeam/Rakan.jpg") left center no-repeat;
    background-size: 380px;
}

.card1:hover h2 {
    opacity: 1;
}

.card1:hover .fa {
    opacity: 1;
}

.card2 {
    background: url("./Assets/ourTeam/Esmail.jpg") center center no-repeat;
    background-size: 325px;
    width: 50%;
}

.card2:hover {
    background: url("./Assets/ourTeam/Esmail.jpg") left center no-repeat;
    background-size: 350px;
}

.card2:hover h2 {
    opacity: 1;
}

.card2:hover .fa {
    opacity: 1;
}


.card3 {
    background: URL("https://i.pinimg.com/564x/5b/a9/9a/5ba99a3fd59ca8a98d24f36debda382a.jpg") center center no-repeat;
    background-size: 350px;
    margin-left: 3%;
    width: 50%;
}

.card3:hover {
    background: URL("https://i.pinimg.com/564x/5b/a9/9a/5ba99a3fd59ca8a98d24f36debda382a.jpg") left center no-repeat;
    background-size: 370px;
}

.card3:hover h2 {
    opacity: 1;
}

.card3:hover .fa {
    opacity: 1;
}


.card4 {
    background: URL("./Assets/ourTeam/Doha.png") center center no-repeat;
    background-size: 640px;
    margin-left: 3%;
    width: 50%;
}

.card4:hover {
    background: URL("./Assets/ourTeam/Doha.png") left center no-repeat;
    background-size: 640px;
}

.card4:hover h2 {
    opacity: 1;
}

.card4:hover .fa {
    opacity: 1;
}



h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
}

.fa {
    opacity: 0;
    transition: opacity 1s;
}

.card1-icons,
.icons,
.card3-icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 100px;
    top: 270px;
    width: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.card1-icons:hover .fa,
.icons:hover .fa,
.card3-icons:hover {
    transform: scale(1.025s);
    transition: 1s;
}


:root {
    --link-size: 53px;
    --trans-props: all 0.3s ease;
}



.wrapper {
    width: 100%;
    margin-top: 14%;
    margin-bottom: 1%;
}

.wrapper,
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

/*** Containers and icons ***/

.social-icon {
    display: flex;

    position: relative;
    overflow: hidden;
    /* Trim branded overlays */

    width: var(--link-size);
    height: var(--link-size);
    margin: 10px;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 3px #333;

    text-decoration: none;

    transition: var(--trans-props);
}

.social-icon i {
    margin: auto;
    /* Perfect centering thanks to parental flex */

    font-size: 24px;
    color: #333;

    z-index: 1;
    /* Make sure icons will be on top */

    transition: var(--trans-props);
}

/*** Branded overlays from the bottom ***/

.social-icon:after {
    content: "";

    width: var(--link-size);
    height: var(--link-size);

    position: absolute;

    transform: translate(0, var(--link-size));

    border-radius: 50%;
    transition: var(--trans-props);
}

.social-icon.twitter:after {
    background-color: #f2a60c;
}

.social-icon.github:after {
    background-color: #24292e;
}

.social-icon.instagram:after {
    background-image: linear-gradient(to bottom left,
            #4f5bd5,
            #962fbf,
            #d62976,
            #fa7e1e,
            #feda75);
}

/*** Animations ***/

.social-icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.social-icon:hover i {
    /*  transform: scale(1.1); */
    color: #fff;
}

.social-icon:hover:after {
    transform: translate(0) scale(1.2);
}


/* scrollbar */
::-webkit-scrollbar {
    width: 16px;

}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

#welcom {
    color: #fff;
    margin-left: 46%;
    margin-top: 5%;
}
