* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #fff;
    color: #fff;
    padding: 15px;
    height: 88%;
}

body {
    background-image: url("./Assets/BG4.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1000vh; */
}

.logo {
    width: 25%;
    margin-top: -1%;
    margin-left: 2.5%;
}

.title {
    margin-right: 4%;
    color: #333;
    margin-top: -0.5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.nav-links {
    list-style: none;
    display: flex;
    margin-top: -0.5%;
    margin-right: 1%;

}

li {
    margin-left: 20px;
}

a.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;

}

a.nav-link:hover {
    color: #ccc;
}

u {
    text-decoration: none;
    border-bottom: 2px solid #333;
    padding-bottom: 2px;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    margin-left: -3%;
}

button#startGame {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#startGame:hover {
    background-color: #555;
}

.userName {
    font-family: "Poppins", sans-serif;
}


.card {
    display: flex;
    font-family: "Poppins", sans-serif;
    margin: 0;
    margin-top: 7%;
    margin-left: 34%;
    padding: 0;
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card:hover .circle::before {
    background: #FFF;
    clip-path: circle(400px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 240px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    left: 73%;
    top: 46%;
    height: 220px;
}

.card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.card .content h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 700;
}

.card .content p {
    color: #fff;
}

.card .content a {
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
}



:root {
    --link-size: 53px;
    --trans-props: all 0.3s ease;
}

/* body {
    margin: 0;
    padding: 0;
    background: black;
  } */

.wrapper {
    width: 100%;
    /* height: 90vh; */
    margin-top: 14%;
    margin-bottom: 1.5%;
    /* padding: 10%; */
    margin-left: 0.5%;

}

.wrapper,
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

/*** Containers and icons ***/

.social-icon {
    display: flex;

    position: relative;
    overflow: hidden;
    /* Trim branded overlays */

    width: var(--link-size);
    height: var(--link-size);
    margin: 10px;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 3px #333;

    text-decoration: none;

    transition: var(--trans-props);
}

.social-icon i {
    margin: auto;
    /* Perfect centering thanks to parental flex */

    font-size: 24px;
    color: #333;

    z-index: 1;
    /* Make sure icons will be on top */

    transition: var(--trans-props);
}

/*** Branded overlays from the bottom ***/

.social-icon:after {
    content: "";

    width: var(--link-size);
    height: var(--link-size);

    position: absolute;

    transform: translate(0, var(--link-size));

    border-radius: 50%;
    transition: var(--trans-props);
}

.social-icon.twitter:after {
    background-color: #f2a60c;
}

.social-icon.github:after {
    background-color: #24292e;
}

.social-icon.instagram:after {
    background-image: linear-gradient(to bottom left,
            #4f5bd5,
            #962fbf,
            #d62976,
            #fa7e1e,
            #feda75);
}

/*** Animations ***/

.social-icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.social-icon:hover i {
    /*  transform: scale(1.1); */
    color: #fff;
}

.social-icon:hover:after {
    transform: translate(0) scale(1.2);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 16px;

}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #333;
}


#welcom {
    color: #fff;
    margin-left: 35%;
    margin-top: 5%;
}
