/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

body {
    background-image: url("./Assets/BG2.png"); /* Replace with the path to your image */
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    /* Adjust the width as needed */
    height: 40px;
    /* Adjust the height as needed */
    margin-right: 10px;
    /* Adjust the spacing as needed */
}

.logo h1 {
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.nav-links {
    list-style: none;
    display: flex;
}

li {
    margin-left: 20px;
}

a.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

a.nav-link:hover {
    color: #ccc;
}

u {
    text-decoration: none;
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
}

/* Form styles */
form {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

button#startGame {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#startGame:hover {
    background-color: #555;
}